<div class="mangaList">
  <h1> Entdecke spannende Manga!</h1>
  <div class="search-bar">
    <list-manga-filter-form [QueryFormGroup]="QueryForm">
    </list-manga-filter-form>
  </div>

  <div class="content">
    <section *ngIf="JikanApiResponse$ | async as response; else loadSpinner">
      <div *ngIf="!response.data.length">
        <h1>
          Für diese Suche gab es leider keine Ergebnisse
        </h1>
      </div>
      <list-manga-list-display [badge]="true" InputFxLayoutAlign="center" InputfxLayout="row wrap" [synopsis]="true"
        [MangaArray]="response.data">
      </list-manga-list-display>

    </section>

    <div [hidden]="!(JikanApiResponse$|async)?.data?.length">
      <mat-paginator showFirstLastButtons="true" [length]="totalRecords" [pageSize]="pageSize"
        [pageSizeOptions]="[12,24]" (page)="pageEvent($event)" aria-label="Select page">
      </mat-paginator>
    </div>


    <ng-template #loadSpinner>
      <mat-spinner></mat-spinner>
    </ng-template>

  </div>
</div>
