@use "../../shared/styles/customvars" as *;
@use "../../shared/styles/styles" as *;

li {
  max-width: 800px;
  padding: 2em;
  margin: auto;
  border: 10px solid;
  border-image-slice: 1;
  border-width: 2px;
  border-image-source: $gradient-linear;

  p {
    font-size: 1.6em;
    margin-top: 0.8em;
  }
  button {
    padding: 0.2em;
    margin: 0 1em;

    &:hover {
      background-color: $primary_marking_color;
    }
  }

  div.left {

    &:hover {
      background-color: $primary_marking_color_dark;
    }

    cursor: pointer;
    background-color: $main_color_dark;
    margin: 0 2.5%;
    padding-top: 20px;
    border-radius: 10px;
    width: 250px;
    p {
      width: fit-content;
      max-width: 200px;
      margin: 0 auto 20px auto;

      height: 25px;

      margin: 0 auto 10px auto;

      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    img {
      display: block;
      margin: 0 auto 20px auto;
      height: auto;
    }
  }

  div.right {
    margin: 0 2.5%;
    width: 350px;

    @media (max-width: $mobile_width) {
      margin-top: 30px;
      margin-bottom: -10px;
    }

    p {
      width: fit-content;
      max-width: 350px;
      margin: 0 auto 40px auto;
      height: 25px;
      padding: 5px 15px;
      border-radius: 10px;
      background-color: $main_color_dark;
      overflow: hidden;
    }

    button.deleteElement {
      margin: 0 auto 40px auto;
      display: block;
    }

    div.changeQuantity {
      width: 100%;

      button {
        height: 52px;

        &:disabled {
          background-color: $main_color;
        }
      }
    }
  }
}
