<mat-toolbar>
  <button (click)="openSidenav()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span [routerLink]="['/home']" class="title" style="margin-left:1em;">MangaMiracle</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon matBadge=5 matBadgeColor="warn">shopping_cart</mat-icon>
  </button>
</mat-toolbar>
