@import "../../../variables.scss";


mat-toolbar {

  position: fixed;
  z-index: 999;

  display: flex;
  justify-content: space-between;

  div.leftpart {

    display: flex;
    justify-content: left;

    button {
      margin-left: 10px;
    }

    img.toolbaricon {
      margin-left: 10px;
      height: 40px;
    }
  }

  nav-cart-button {
    margin-right: 25px;
  }
}

