@import "../../../variables.scss";


mat-toolbar {

  position: fixed;
  z-index: 999;

  display: flex;
  justify-content: space-between;

  nav-cart-button {
    margin-right: 25px;
  }

  button {
    margin-left: 10px;
  }

  img.toolbaricon {
    height: 40px;

    &.homePage{

      @media (min-width:500px) {
        display: none;
      }
    }
  }
}

