<div class="wrapper">

  <mat-card *ngIf="authService.isLoggedIn else NotLoggedIn">
    <mat-card-header>
      <mat-card-title>Your Profile</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="profileForm">
        <main>
          <main>
            <img (error)="updateUrl($event)" referrerpolicy="no-referrer" [src]="profilePic" />
            <mat-form-field appearance="fill">
              <mat-label>Username</mat-label>
              <input formControlName="displayName" matInput type="text" placeholder="Username">
            </mat-form-field>

            <div class="doubleInputBlock">
              <mat-form-field appearance="fill">
                <mat-label>E-Mail</mat-label>
                <input formControlName="email" type="email" matInput placeholder="E-Mail">
              </mat-form-field>
            </div>

            <div class="doubleInputBlock">
              <mat-form-field appearance="fill">
                <mat-label>First Name</mat-label>
                <input formControlName="firstName" type="text" matInput placeholder="First Name">
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label>Last Name</mat-label>
                <input formControlName="lastName" type="text" matInput placeholder="Last Name">
              </mat-form-field>
            </div>

            <section formGroupName="address">
              <div class="doubleInputBlock">
                <mat-form-field appearance="fill">
                  <mat-label>Land</mat-label>
                  <input formControlName="country" type="text" matInput placeholder="Land">
                </mat-form-field>
              </div>

              <div class="doubleInputBlock">
                <mat-form-field appearance="fill">
                  <mat-label>Ort</mat-label>
                  <input formControlName="ort" type="text" matInput placeholder="Ort">
                </mat-form-field>

                <mat-form-field appearance="fill">
                  <mat-label>PLZ</mat-label>
                  <input formControlName="plz" type="number" matInput placeholder="PLZ">
                </mat-form-field>
              </div>

              <div class="doubleInputBlock">
                <mat-form-field appearance="fill">
                  <mat-label>Straße</mat-label>
                  <input formControlName="streetName" type="text" matInput placeholder="Straße">
                </mat-form-field>

                <mat-form-field appearance="fill">
                  <mat-label>Nummer</mat-label>
                  <input formControlName="streetNumber" type="number" matInput placeholder="Nummer">
                </mat-form-field>
              </div>
              <mat-error *ngIf="this.profileForm.invalid">
                <p style="text-align: center;">
                  Please fill out all required feels and check if theyre correct;
                </p>

              </mat-error>
            </section>
            <div class="editButtons">
              <button *ngIf="!editActive; else EditActive" (click)="activateEdit()" mat-raised-button
                style="width: fit-content;">Edit<mat-icon
                  style="font-size: 15px; height: 15px ; width: 15px; margin-left: 5px;"> border_color</mat-icon>
              </button>

              <ng-template class="editButtons" #EditActive>
                <button (click)="resetData(); editActive = false" mat-raised-button>Cancel</button>
                <button [disabled]="profileForm.invalid" (click)="saveData(); editActive=false"
                  mat-raised-button>Save</button>
              </ng-template>
            </div>
          </main>
        </main>
      </form>
    </mat-card-content>

  </mat-card>


  <ng-template class="container" #NotLoggedIn>
    <div class="not-logged-in">
      <h1 style="text-align: center;">
        Logge dich ein oder registriere dich, um dein Profil einzusehen
      </h1>
      <button routerLink="/login" mat-raised-button mat-button>
        <span>Zum Login</span>
      </button>
    </div>
  </ng-template>



  <ng-template class="container" #Loading>
    <mat-spinner style="margin: 0 auto;"></mat-spinner>
  </ng-template>
</div>
