<div class="wrapper">
  <main *ngIf="authService.isLoggedIn; else NotLoggedIn">
    <main>
      <img src="https://lh3.googleusercontent.com/a/AATXAJwzNjHrM2WDNlBtB-iyDn9nq4eE5qfWl8je8iVfrQ=s432-p-rw-no-mo" />
      <mat-form-field appearance="fill">
        <mat-label>Username</mat-label>
        <input matInput type="text" placeholder="Username">
      </mat-form-field>

      <div class="doubleInputBlock">
        <mat-form-field appearance="fill">
          <mat-label>E-Mail</mat-label>
          <input type="text" matInput placeholder="E-Mail">
        </mat-form-field>
      </div>

      <div class="doubleInputBlock">
        <mat-form-field appearance="fill">
          <mat-label>First Name</mat-label>
          <input type="text" matInput placeholder="First Name">
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Last Name</mat-label>
          <input type="text" matInput placeholder="Last Name">
        </mat-form-field>
      </div>

      <div class="doubleInputBlock">
        <mat-form-field appearance="fill">
          <mat-label>Land</mat-label>
          <input type="text" matInput placeholder="Land">
        </mat-form-field>
      </div>

      <div class="doubleInputBlock">
        <mat-form-field appearance="fill">
          <mat-label>Ort</mat-label>
          <input type="text" matInput placeholder="Ort">
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>PLZ</mat-label>
          <input type="text" matInput placeholder="PLZ">
          <mat-error>Please provide name.</mat-error>
        </mat-form-field>
      </div>

      <div class="doubleInputBlock">
        <mat-form-field appearance="fill">
          <mat-label>Straße</mat-label>
          <input type="text" matInput placeholder="Straße">
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Nummer</mat-label>
          <input type="text" matInput placeholder="Nummer">
        </mat-form-field>
      </div>

      <div class="editButtons">
        <button *ngIf="!editActive; else EditActive" (click)="editActive = true" mat-raised-button
          style="width: fit-content;">Edit<mat-icon
            style="font-size: 15px; height: 15px ; width: 15px; margin-left: 5px;"> border_color</mat-icon></button>
        <ng-template class="editButtons" #EditActive>
          <button (click)="resetData(); editActive = false" mat-raised-button>Cancel</button>
          <button [disabled]="this.errorInEdit" mat-raised-button>Save</button>
        </ng-template>
      </div>
    </main>
  </main>


  <ng-template class="container" #NotLoggedIn>
    <h1>
      Logge dich ein oder registriere dich, um dein Profil einzusehen
    </h1>
    <button routerLink="/login" mat-raised-button mat-button>
      <span>Zum Login</span>
    </button>
  </ng-template>

  <ng-template class="container" #Loading>
    <mat-spinner style="margin: 0 auto;"></mat-spinner>
  </ng-template>
</div>
