<div class="wrapper">
  <main *ngIf="authService.isLoggedIn; else NotLoggedIn">
    <main *ngIf="this.authService.userData; else Loading">

      <img [src]="this.authService.userData.photoURL!"/>

      <mat-form-field appearance="fill" [ngClass]="{'readOnly':(!editActive || this.authService.userData.providertype == 'google.com')}">
        <mat-label>Username</mat-label>
        <input matInput type="text" placeholder="Username"
              [(ngModel)]="this.authService.userData.displayName!" [name]="this.authService.userData.displayName!">
      </mat-form-field>

      <div class="doubleInputBlock">
        <mat-form-field appearance="fill" [ngClass]="'readOnly'">
          <mat-label>Email</mat-label>
          <input type="email" matInput placeholder="Email"
          [(ngModel)]="this.authService.userData.email!" [name]="this.authService.userData.email!">
        </mat-form-field>

        <div class="doubleInputBlockElement">
          <mat-icon aria-hidden="false" aria-label="mail verified" *ngIf="this.authService.userData.emailVerified">check_circle</mat-icon>
          <mat-icon aria-hidden="false" aria-label="mail not verified" *ngIf="!this.authService.userData.emailVerified">not_interested</mat-icon>
          <button (click)="this.authService.SendVerificationMail()"
                [disabled]="(this.authService.userData.providertype != 'google.com' || this.authService.userData.emailVerified == false)?'':'none'"
                mat-raised-button>Send Verification Mail</button>
        </div>
      </div>

      <br>
      <br>

      <div class="doubleInputBlock">
        <mat-form-field appearance="fill" [ngClass]="{'readOnly':!editActive}">
          <mat-label>First Name</mat-label>
          <input type="text" matInput placeholder="First Name"
                [(ngModel)]="this.authService.userData.firstName!" [name]="this.authService.userData.firstName!">
        </mat-form-field>

        <mat-form-field appearance="fill"  [ngClass]="{'readOnly':!editActive}">
          <mat-label>Last Name</mat-label>
          <input type="text" matInput placeholder="Last Name"
                [(ngModel)]="this.authService.userData.lastName!" [name]="this.authService.userData.lastName!">
        </mat-form-field>
      </div>

      <br>
      <br>

      <div class="doubleInputBlock">
        <mat-form-field appearance="fill" [ngClass]="{'readOnly':!editActive}">
          <mat-label>Land</mat-label>
          <input type="text" matInput placeholder="Land"
                [(ngModel)]="this.authService.userData.adress.country!" [name]="this.authService.userData.adress.country!">
        </mat-form-field>
      </div>

      <div class="doubleInputBlock">
        <mat-form-field appearance="fill" [ngClass]="{'readOnly':!editActive}">
          <mat-label>Ort</mat-label>
          <input type="text" matInput placeholder="Ort"
                [(ngModel)]="this.authService.userData.adress.ort!" [name]="this.authService.userData.adress.ort!">
        </mat-form-field>

        <mat-form-field appearance="fill"  [ngClass]="{'readOnly':!editActive}">
          <mat-label>PLZ</mat-label>
          <input type="text" matInput placeholder="PLZ"
                [(ngModel)]="this.authService.userData.adress.plz!" [name]="this.authService.userData.adress.plz!">
          <mat-error>Please provide name.</mat-error>
        </mat-form-field>
      </div>

      <div class="doubleInputBlock">
        <mat-form-field appearance="fill" [ngClass]="{'readOnly':!editActive}">
          <mat-label>Straße</mat-label>
          <input type="text" matInput placeholder="Straße"
                [(ngModel)]="this.authService.userData.adress.streetName!" [name]="this.authService.userData.adress.streetName!">
        </mat-form-field>

        <mat-form-field appearance="fill"  [ngClass]="{'readOnly':!editActive}">
          <mat-label>Nummer</mat-label>
          <input type="text" matInput placeholder="Nummer"
                [(ngModel)]="this.authService.userData.adress.streetNumber!" [name]="this.authService.userData.adress.streetNumber!">
        </mat-form-field>
      </div>

      <br>
      <br>

      <div class="editButtons">
        <button *ngIf="!editActive; else EditActive" (click)="editActive = true" mat-raised-button style="width: fit-content;">Edit<mat-icon style="font-size: 15px; height: 15px ; width: 15px; margin-left: 5px;"> border_color</mat-icon></button>

        <ng-template class="editButtons" #EditActive>
          <button (click)="resetData(); editActive = false" mat-raised-button>Cancel</button>
          <button (click)="this.authService.SetUserData(this.authService.userData); editActive = false"
                  [disabled]="this.errorInEdit" mat-raised-button>Save</button>
        </ng-template>
      </div>

    </main>
  </main>

  <ng-template class="container" #NotLoggedIn>
    <h1>
      Logge dich ein oder registriere dich, um dein Profil einzusehen
    </h1>
    <button routerLink="/login" mat-raised-button mat-button>
      <span>Zum Login</span>
    </button>
  </ng-template>

  <ng-template class="container" #Loading>
    <mat-spinner style="margin: 0 auto;"></mat-spinner>
  </ng-template>
</div>
