@use "../../shared/styles/styles" as s;
.wrapper {
  h1{
    text-align: center;
    padding: 1em;
    font-size: 2em;
  }
  img{
    display: block;
    margin: 0 auto;
    padding-bottom: 30px;
  }
  mat-form-field{
    width: 50%;
    display: block;
    margin: auto;

    :read-only{
      color: white;
      border-color: white;
    }
  }
  table{

    th{
      padding-right: 15px;
    }
    h2{
      margin: 16px 0;
    }
    mat-icon{
      vertical-align: middle;
    }
  }
  .hidden{
    display: none;
  }

  margin-top: 5em !important;
  @include s.page-wrap;
}
button {
  margin-top: 2em;
  padding: 1em;
  font-size: 2em;
}
