@use "../../shared/styles/customvars" as *;

div.spinner-wrap {
  margin-top: 5em;
}

div.mangaPage {

  margin: 100px auto 0 auto;
  width: 100%;
  max-width: 1500px;

  div.leftPage {

    margin: 0 3% 0 5%;
    width: 300px;
  }

  div.rightPage {

    margin: 0 5% 0 3%;
    max-width: 600px;

    p.synopsis {
      background-color: $main_color_dark;

      padding: 10px;
      margin-bottom: 20px;

      max-height: 500px;

      font-size: 1.2em;
      line-height: 1.2em;

      overflow-y: scroll;
      text-align: left;
    }

    p.price {
      font-size: 1.6em;

      margin-bottom: -5px;

      font-weight: bold;

      background-color: $main_color_dark;
      padding: 10px 20px;
      border-radius: 10px;
    }

    mat-chip-list {
      margin-bottom: 50px;

      align-items: center;
    }

    div.buy {

      mat-form-field {
        // Prevent vertiacal centering problem with padding of children element
        margin-top: 18.8px;
        padding-right: 10px;
      }

      button {
        margin: auto 0 auto 0;

        height: 50px;
      }
    }
  }
}
