.spinner-wrap {
  margin-top: 5em;
}
.example-spacer {
  flex: 1 1 auto;
}

.publishing {
  color: blue;
}
.finished {
  color: green;
}


mat-grid-tile {
  background: lightblue;
}

.wrapper{
  max-width: 50%;
  margin: auto;
  display: flex;
}
