<section *ngIf="mangaData; else loadSpinner">
  <app-manga-card [headingEllipsis]="false" [hasInfoButton]="false" [hasSynopsis]="true" [mangaData]="mangaData">
  </app-manga-card>


  <form [formGroup]="cartMangaPurchaseForm">
    <mat-form-field appearance="fill">
      <mat-label>Manga Volume</mat-label>
      <mat-select formControlName="volume">
        <mat-option *ngFor="let volume of volumeArr" [value]="volume">
          Volume No: {{volume}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Quantity</mat-label>
      <mat-select formControlName="quantity">
        <mat-option *ngFor="let quantity of quantityMax" [value]="quantity">
          {{quantity}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>
  <button [disabled]="cartMangaPurchaseForm.invalid" (click)="addMangaToCart()" mat-button mat-raised-button>
    Add to cart!
  </button>
</section>


<pre>
  {{cartMangaPurchaseForm.value | json }}
  {{cartMangaPurchaseForm.valid}}
</pre>

<pre>
{{ cartData | json}}

</pre>

<ng-template #loadSpinner>
  <div class="spinner-wrap">
    <mat-spinner style="margin: auto;"></mat-spinner>
  </div>
</ng-template>


<!-- <mat-grid-list cols="4" rowHeight="100px">
  <mat-grid-tile *ngFor="let tile of tiles" [colspan]="tile.cols" [rowspan]="tile.rows" [style.background]="tile.color">
    {{tile.text}}
  </mat-grid-tile>
</mat-grid-list> -->

<!--
<div class="wrapper">
  <app-manga-card [hasInfoButton]="false" [hasSynopsis]="false" [mangaData]="mangaData">
  </app-manga-card>
  <p>
    Purchase
  </p>
</div> -->
