@use "../../variables.scss" as *;

mat-card {

  top: 0;

  width: fit-content;
  min-width: 250px;

  margin: 0 15px 50px 15px;

  cursor: pointer;

  div.coreInformation {

    margin: auto;

    width: fit-content;
    text-align: center;

    img {
      object-fit: contain;
    }

    mat-card-header{
      display: block;

      ::ng-deep .mat-card-header-text {
        margin: 0 auto;
      }

      mat-card-title {
        font-size: 1.5em;
        margin: 0 auto 12px auto;

        width: 200px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

    }

    mat-card-content {
      p.synopsis {

        font-size: 1.2em;
        line-height: 1.2em;

        overflow-y: scroll;
        text-align: left;

        padding: 0.4em;

        max-height: 20vh;

        width: 300px;

        &::-webkit-scrollbar-track {
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          background-color: #f5f5f5;
        }

        &::-webkit-scrollbar {
          width: 6px;
          background-color: #f5f5f5;
        }

        &::-webkit-scrollbar-thumb {
          background-color: $primary_marking_color;

        }
      }

    }
  }


  mat-card-actions:last-child  {

    bottom: 0;

    display:flex;
    justify-content: center;

    padding-bottom: 10px;

    button {
      margin: 0 1em;
    }

    p.price {
      font-size: 1.8em;
      font-weight: bold;
      margin: auto 0 auto 14px;
      flex: 2;
    }
  }
}
