<mat-card class="mat-elevation-z9">
  <div [matBadge]="showBadge ? mangaData.score : null" class="coreInformation" (click)="mangaClicked()">
    <mat-card-header>
      <mat-card-title [ngClass]="headingEllipsis ? 'text-ellipsis':''" matTooltipPosition="above"
        matTooltip="{{mangaData.title}}"
        [ngClass]="((mangaData.title===mangaData.title_english || mangaData.title_english==null) && !hasSynopsis)?'extendedMargin':''">
        {{mangaData.title}} </mat-card-title>
      <mat-card-subtitle *ngIf="mangaData.title!==mangaData.title_english && mangaData.title_english!=null">
        {{mangaData.title_english}}
      </mat-card-subtitle>
    </mat-card-header>
    <img loading="lazy" [style.max-height.px]="[maxCardHeight]" mat-card-image src={{mangaData.images.jpg.image_url}}
      alt="Manga Image">
    <p class="price">
      {{price | number : '1.2-2'}} €
    </p>
    <mat-card-content *ngIf="hasSynopsis">
      <p class="synopsis">
        {{mangaData.synopsis || "Für diesen Titel ist keine Zusammenfassung verfügbar"}}
      </p>

      <mat-chip-list aria-label="Fish selection">
        <mat-chip *ngFor="let genre of mangaData.genres">
          {{genre.name| titlecase}}
        </mat-chip>
      </mat-chip-list>
    </mat-card-content>
  </div>
  <mat-card-actions>
    <button *ngIf="hasInfoButton" (click)="mangaClicked()" class="cart" mat-mini-fab color="primary"
      aria-label="Example icon button with a menu icon">
      <mat-icon>info</mat-icon>
    </button>
    <button (click)="btnFavoriteClick()" mat-mini-fab [color]="isFavorite ? 'warn' : 'accent'"
      aria-label="Example icon button with a bookmark icon">
      <mat-icon>favorite</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
