@use "../../variables.scss" as *;


mat-card {
  ::ng-deep .mat-badge-content {
    padding: 0.2em;
    $badge-size: 30px;
    width: $badge-size;
    height: $badge-size;
    line-height: $badge-size;
  }

  &:hover {
    background-color: $primary_marking_color_dark;
  }

  top: 0;

  width: fit-content;
  min-width: 250px;

  margin: 20px 15px 30px 15px;

  cursor: pointer;

  div.coreInformation {
    margin: auto;

    width: fit-content;
    text-align: center;

    img {
      object-fit: contain;
    }

    mat-card-header {
      display: block;

      ::ng-deep .mat-card-header-text {
        margin: 0 auto;
      }

      @mixin text-overflow {
        margin: 0 auto 10px auto;

        max-width: 200px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        &.extendedMargin {
          margin: 0 auto 43px auto;
        }
      }
      mat-card-subtitle {
        @include text-overflow;
      }
      mat-card-title {
        font-size: 1.5em;
        @include text-overflow;
      }
    }

    p.price {
      font-size: 1.8em;
      font-weight: bold;
      margin: 20px auto 20px auto;
      flex: 2;
    }

    mat-card-content {
      background-color: $main_color_mediumdark;
      padding: 5px;

      ::ng-deep .mat-chip-list-wrapper {
        margin: 0.8em 0;
        justify-content: center;
        max-width: 300px;
        mat-chip {
          font-size: 0.8em;
        }
      }

      p.synopsis {
        font-size: 1.2em;
        line-height: 1.2em;

        overflow-y: scroll;
        text-align: left;

        padding: 0.4em;

        max-height: 300px;

        width: 300px;

        &::-webkit-scrollbar-track {
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          background-color: #f5f5f5;
        }

        &::-webkit-scrollbar {
          width: 6px;
          background-color: #f5f5f5;
        }

        &::-webkit-scrollbar-thumb {
          background-color: $primary_marking_color;
        }
      }
    }
  }

  mat-card-actions:last-child {
    bottom: 0;

    display: flex;
    justify-content: center;

    padding-bottom: 10px;

    button {
      margin: 0 1.5em;

      transition: filter 0.1s;

      &:hover {
        filter: brightness(70%);
      }
    }
  }
}
