<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <nav-sidenav-list (closeSideNav)="sidenav.close()"></nav-sidenav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <nav-toolbar (SideNavToggle)="sidenav.toggle()"></nav-toolbar>
    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>



<!--
https://stackblitz.com/edit/angular-side-nav-7buuwi?file=src%2Fapp%2Fapp.component.css
https://stackblitz.com/edit/angular-material-sidenav-generate-nav?file=src%2Fapp%2Fapp.component.html
-->
