$main_color: #424242;
$main_color_mediumdark: #303030;
$main_color_dark: #212121;
$primary_marking_color: rgb(194, 23, 91);
$primary_marking_color_dark: rgb(116, 35, 68);
$success: #00c851;
$warn: $primary_marking_color;

// Widths
$mobile_width: 500px;
