section {
  max-width: 500px;
  margin: auto;
}

.spinner-wrap {
  margin-top: 5em;
}
.example-spacer {
  flex: 1 1 auto;
}

.publishing{
  color: blue;
}
.finished{
  color:green
}

//Todo color based on status
