li.outer {
  border: 1px solid rgb(0, 54, 119);
  margin-top: 2em;
  padding: 2em;
}

ul {
  list-style: none;
}

li.inner {
  border: 1px solid rgb(0, 119, 113);
  margin-top: 2em;
  padding: 2em;
}
