@use "../../shared/styles/styles" as s;

ul {
  list-style: none;
  max-width: 900px;
  margin: auto;
}

li.inner {
  margin-top: 2em;
  padding: 2em;
}

h1.headerText {
  @include s.gradient-font;
    font-size: 2rem;
    margin: 0.6em;

    &.headerText{
      margin-top: 70px;
    }
}
