li.outer {
  border: 2px solid rgb(0, 39, 86);
  margin-top: 2em;
  padding: 2em;
}

ul {
  list-style: none;
  max-width: 900px;
  margin: auto;
}

li.inner {
  border: 1px solid rgb(0, 119, 113);
  margin-top: 2em;
  padding: 2em;
}
