<page-wrapper>

  <div class="wallpaperInfo">

    <div class="information">

      <img class="logo" src="../../../assets/logo_large.svg">

      <div class="text">
        <h2>Wilkommen zum MangaMiracle, dem besten Manga Webshop der Welt!</h2>
        <h2>Finde deine Lieblingsmangas über die Suche!</h2>
        <h1 class="link" routerLink="/search">Hier gehts zur Suche</h1>
      </div>
    </div>

  </div>


  <div class="wallpaperSpacer"></div>

  <h1 style="text-align: center;">
    Text after
  </h1>

</page-wrapper>
