<div class="wrapper">
  <div class="wallpaperInfo" fxLayout="column" fxLayoutAlign="center start">
    <div class="information">
      <img class="logo" src="../../../assets/logo_large.svg">
      <div class="text">
        <h2>Wilkommen zum MangaMiracle, dem besten Manga Webshop der Welt!</h2>
        <h2>Finde deine Lieblingsmangas über die Suche!</h2>
        <h1 class="link" routerLink="/search">Hier gehts zur Suche</h1>
      </div>
    </div>
  </div>

  <div class="spacer"></div>

  <div class="mangaExampleContent" (window:resize)="listenWidthChange()">

    <h1 class="headerText">Unsere Top Picks</h1>

    <section *ngIf="JikanApiResponse$ | async as response; else loadSpinner">

      <div *ngIf="!response.data.length">
        <h1>
          Keine Ergebnisse verfügbar
        </h1>
      </div>

      <div class="mangaScrollingTable" fxLayout="row" fxLayoutAlign="center">

        <button class="desktop" mat-raised-button (click)="moveElement(direction.LEFT)" [disabled]="(elementsMoved == 0)">
          <mat-icon>keyboard_arrow_left</mat-icon>
        </button>

        <div class="mangaListBox" [style.width.px]="width">
          <div [style.left.px]=leftStyleValue class="mangaList wrapper ">
            <list-manga-list-display InputFxLayoutAlign="left" InputfxLayout='row' [synopsis]="false"
              [MangaArray]="response.data">
            </list-manga-list-display>
          </div>
        </div>

        <button class="desktop" mat-raised-button (click)="moveElement(direction.RIGHT)"
          [disabled]="(elementsMoved + elementInBox >= loadedElements)">
          <mat-icon>keyboard_arrow_right</mat-icon>
        </button>

      </div>

      <div class="buttonBar mobile">

        <button mat-raised-button (click)="moveElement(direction.LEFT)" [disabled]="(elementsMoved == 0)">
          <mat-icon>keyboard_arrow_left</mat-icon>
        </button>

        <button mat-raised-button (click)="moveElement(direction.RIGHT)"
          [disabled]="(elementsMoved + elementInBox == loadedElements)">
          <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
      </div>

      <div class="buttonBar moreMangasButtons">
        <ng-container *ngFor="let linkButton of linkButtons">
          <button mat-raised-button [routerLink]="linkButton.routeLink"> {{linkButton.buttonText}} </button>
        </ng-container>
      </div>
    </section>

    <ng-template #loadSpinner>
      <mat-spinner></mat-spinner>
    </ng-template>

  </div>


  <div class="spacingBox">
    <h1 class="headerText">Unsere Vorteile</h1>

    <div class="elementBox" fxLayout="row wrap" fxLayoutAlign="center">

      <div class="element">
        <mat-icon aria-hidden="false" aria-label="store icon">store icon</mat-icon>
        <h2>Alles an einem Ort</h2>
        <h3>Finde deine Lieblingsmangas und noch deutlich mehr hier bei uns!</h3>
      </div>

      <div class="element">
        <mat-icon aria-hidden="false" aria-label="security icon">security icon</mat-icon>
        <h2>Sicher bezahlen</h2>
        <h3>Abgesichert durch Paypal, Mastercard, Visa oder EC Card.</h3>
      </div>

      <div class="element">
        <mat-icon aria-hidden="false" aria-label="schedule icon">schedule icon</mat-icon>
        <h2>Schneller Versand</h2>
        <h3>Versand innerhalb Deutschlands in nur 3 Tagen.</h3>
      </div>

    </div>
  </div>


  <div class="elementBox fullWidth" fxLayout="row wrap" fxLayoutAlign="center">

    <div class="element">
      <img src="../../../assets/banking/ec.png">
    </div>

    <div class="element">
      <img src="../../../assets/banking/mastercard.png">
    </div>

    <div class="element">
      <img src="../../../assets/banking/paypal.png">
    </div>

    <div class="element">
      <img src="../../../assets/banking/visa.png">
    </div>

  </div>

</div>
