@use "../../shared/styles/styles" as s;

h1 {
  text-align: center;
  @include s.gradient-font;
  font-size: 2rem;
  margin: 1em;
}

.wrapper {
  @include s.page-wrap;
}

ul {
  list-style-type: none;

  li {
    padding: 2em;
    border: 1px pink solid;
    p {
      font-size: 2em;
    }
  }
}
