<h1>Dein Warenkorb</h1>

<div class="wrapper" *ngIf="(shoppingCartData | async) as cart else noCartData" class="wrapper">
  <button (click)="emptyMyCart()" mat-raised-button color="warn">
    Warenkorb leeren
  </button>
  <div>
    <ul *ngIf="authService.isLoggedIn">
      <li style="margin-top: 2em;" *ngFor="let cartItem of cart">
        Title: {{cartItem.mangaData.title}} <br>
        Volume: {{cartItem.volume}} <br>
        Quantity: {{cartItem.quantity}}
      </li>
    </ul>
  </div>
</div>

<ng-template #noCartData>
  <div class="wrapper">
    <h2>
      {{authService.isLoggedIn ? 'Füge tolle Mangas zu deinem Warenkorb hinzu' :
      'Logge dich ein oder Registriere dich, um deinen Warenkorb einzusehen'}}
    </h2>
  </div>
</ng-template>
