@use "../../shared/styles/styles" as s;

h1 {
  text-align: center;
  @include s.gradient-font;
  font-size: 2rem;
  margin: 1em;

  &.headerText{
    margin-top: 70px;
  }
}

div.wrapper {
  @include s.page-wrap;
  margin-top: 40px;
}

ul {
  list-style-type: none;

  li {
    padding: 2em;
    border: 1px pink solid;
    p {
      font-size: 2.1em;
      margin-top: .8em;
    }
    button {
      padding: .2em;
      margin: 0 1em;
    }
    margin: 0 1em;
  }
}

