<style>
  span {
    font-family: "Montserrat", sans-serif;
    margin-left: 0.3em;
  }
</style>
<mat-nav-list class="sidenav-list">
  <div *ngFor="let link of links">
    <a mat-list-item [routerLink]="link.routerLink" (click)="onToggleClose()">
      <mat-icon>{{link.icon}}</mat-icon>
      <span>{{link.title}}</span>
    </a>
    <hr>
  </div>

  <a mat-list-item (click)="onToggleClose(); authService.SignOut()">
    <mat-icon>
      {{authService.isLoggedIn ? 'logout': 'input'}}
    </mat-icon>
    <span> {{authService.isLoggedIn ? 'Sign Out': 'Login/Register'}}
    </span>
  </a>
  <hr>
</mat-nav-list>
