<h1>Entdecke spannende Manga!</h1>


<div class="search-bar">
  <mat-form-field class="example-form-field" appearance="fill">
    <mat-label>Suche nach deinem Lieblingsmaga</mat-label>
    <input matInput type="text" [(ngModel)]="value">
    <button *ngIf="value" matSuffix mat-icon-button (click)="value=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
</div>




<div class="content">
  <section *ngIf="mockMangaData; else loadSpinner">
    <div fxLayoutGap="18px grid" fxLayout="row wrap">
      <div [fxFlex]="(100/gridColumns) + '%'" fxFlex.xs="100%" fxFlex.sm="33%"
        *ngFor="let manga of mockMangaData| async ;let i=index; trackBy: trackByFn">
        <app-manga-card [hasSynopsis]="false" [mangaData]="manga">
        </app-manga-card>
      </div>
    </div>
  </section>
  <ng-template #loadSpinner>
    <mat-spinner></mat-spinner>
  </ng-template>
</div>
