@use "../src/app/variables.scss" as *;

/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

::-webkit-scrollbar-track {
  @media (max-width: $mobile_width) {
    display: none;
  }

  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

::-webkit-scrollbar {
  @media (max-width: $mobile_width) {
    display: none;
  }

  width: 5px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  @media (max-width: $mobile_width) {
    display: none;
  }

  background-color: $warn;
}

.snackbar-success {
  background: $success;
  color: white;
}

.snackbar-warn {
  background: $warn;
  color: white;
}

button:hover {
  background-color: $primary_marking_color;
}
